In [2]:
from discarded.utils import CaliforniaCleanDataset

dataset = CaliforniaCleanDataset()
dataset.data

       MedInc  HouseAge  AveRooms  Population  AveOccup  Latitude
0      8.3252      41.0  6.984127       322.0  2.555556     37.88
1      8.3014      21.0  6.238137      2401.0  2.109842     37.86
2      7.2574      52.0  8.288136       496.0  2.802260     37.85
3      5.6431      52.0  5.817352       558.0  2.547945     37.85
4      3.8462      52.0  6.281853       565.0  2.181467     37.85
...       ...       ...       ...         ...       ...       ...
20635  1.5603      25.0  5.045455       845.0  2.560606     39.48
20636  2.5568      18.0  6.114035       356.0  3.122807     39.49
20637  1.7000      17.0  5.205543      1007.0  2.325635     39.43
20638  1.8672      18.0  5.329513       741.0  2.123209     39.43
20639  2.3886      16.0  5.254717      1387.0  2.616981     39.37

[19043 rows x 6 columns]

In [3]:
import pandas as pd
from sklearn.datasets import fetch_california_housing

california_housing = fetch_california_housing()

X = dataset.data
y = dataset.target
# Transformamos en Pandas
X = pd.DataFrame(X, columns=california_housing['feature_names'])
y = pd.Series(y, name=california_housing['target_names'][0])

# Unimos a X e y, esto ayuda a la parte de la gráfica del mapa de calor de correlación
df_california = pd.concat([X, y], axis=1)

In [5]:
df_california.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,NaN,322.0,2.555556,37.88,NaN,4.526
1,8.3014,21.0,6.238137,NaN,2401.0,2.109842,37.86,NaN,3.585
2,7.2574,52.0,8.288136,NaN,496.0,2.802260,37.85,NaN,3.521
3,5.6431,52.0,5.817352,NaN,558.0,2.547945,37.85,NaN,3.413
4,3.8462,52.0,6.281853,NaN,565.0,2.181467,37.85,NaN,3.422

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
X_train, X_test, y_train, y_test = train_test_split(X,  y, test_size=0.3, random_state=42)


# Escalemos los datos
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Lo transformemos en DataFrames
X_train_scaled = pd.DataFrame(X_train_scaled, columns=california_housing['feature_names'])
X_test_scaled = pd.DataFrame(X_test_scaled, columns=california_housing['feature_names'])

/home/joa/CEIA-TPS/TP2-IIA/tp2-ia-project/.venv/lib/python3.10/site-packages/sklearn/utils/extmath.py:1137: RuntimeWarning: invalid value encountered in divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
/home/joa/CEIA-TPS/TP2-IIA/tp2-ia-project/.venv/lib/python3.10/site-packages/sklearn/utils/extmath.py:1142: RuntimeWarning: invalid value encountered in divide
  T = new_sum / new_sample_count
/home/joa/CEIA-TPS/TP2-IIA/tp2-ia-project/.venv/lib/python3.10/site-packages/sklearn/utils/extmath.py:1162: RuntimeWarning: invalid value encountered in divide
  new_unnormalized_variance -= correction**2 / new_sample_count